* {
  box-sizing: border-box;
}

.cher {
  height: 100%;
}

.nav {
  height: 10rem;
  position: fixed;
  width: 100%;
  /* top: 0; */
}

.webcam {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
}

/* canvas {
  width: 100%;
  height: 100%;
} */

.marquee {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee img {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

.marquee img:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.capture__btn {
  position: fixed;
  bottom: 6vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  background: #ffffff;
  padding: 19px 25px 23px 25px;
  display: table;
  font-size: 1.5em;
}

.capture__btn-text {
  border-bottom: 2px solid #000000;
}
